<%- include('../layout-top') %>
<h1>Register</h1>
<form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Register</button>
</form>
<p><a href="/auth/login">Already have an account?</a></p>
<%- include('../layout-bottom') %>
