<%- include('../layout-top') %>
<h1>Papers</h1>
<a href="/papers/create" class="btn">Add New Paper</a>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
</table>
<%- include('../layout-bottom') %>
